@use 'sass:math';

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-primary: rgb(33, 33, 33);
  --bg-secondary: rgb(44, 44, 44);
  @for $i from 0 through 3 {
    --color-primary-#{$i}: rgb( #{226 - $i*15},  #{226 - $i*15},  #{226 - $i*15});
    --color-secondary-#{$i}: rgb( #{128 - $i*15},  #{128 - $i*15},  #{128 - $i*15});
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  position: relative;
}

#app {
  overflow: hidden;
}

// utility
@for $i from 0 through 3 {
  .color-secondary-#{$i} {
    color: var(--color-secondary-#{$i});
  }
  .color-primary-#{$i} {
    color: var(--color-primary-#{$i});
  }
}

@for $i from 1 through 7 {
  .size- {
    &#{$i} {
      font-size: calc(1rem - #{$i}px) !important;
    }
  }
  .gap-x- {
    &#{$i} {
      column-gap: math.div(1.5rem, $i);
    }
  }
  .gap-y- {
    &#{$i} {
      row-gap: math.div(1.5rem, $i);
    }
  }
  .radius- {
    &#{$i} {
      border-radius: math.div(1.5rem, $i);
      overflow: hidden;
    }
  }
}

.panel-header {
  color: rgb(195, 195, 195);
  // color: rgb(220, 203, 17);
}

.font {
  &-primary {
    font-family: 'Poppins', sans-serif;
  }
  &-secondary {
    font-family: 'Inter', sans-serif;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.bg-panel {
  &-primary {
    background-color: var(--bg-primary);
  }
}

// override naive-ui
.n-notification-container .n-notification {
  background-color: var(--bg-primary) !important;
}
.n-base-selection .n-base-selection-label {
  background-color: var(--bg-primary);
}