@use 'sass:math';

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-primary: rgb(27, 27, 27);
  --bg-secondary: rgb(44, 44, 44);
  --color-primary: rgb(226, 226, 226);
  @for $i from 0 through 3 {
    --color-secondary-#{$i}: rgb( #{128 - $i*15},  #{128 - $i*15},  #{128 - $i*15});
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
}

#app {
  overflow: hidden;
}

// utility
@for $i from 1 through 7 {
  .size- {
    &#{$i} {
      font-size: calc(1rem - #{$i}px);
    }
  }
  .gap-x- {
    &#{$i} {
      column-gap: math.div(1.5rem, $i);
    }
  }
  .gap-y- {
    &#{$i} {
      row-gap: math.div(1.5rem, $i);
    }
  }
  .radius- {
    &#{$i} {
      border-radius: math.div(1.5rem, $i);
      overflow: hidden;
    }
  }
}

.panel-header {
  color: var(--color-secondary-0);
}

.font {
  &-primary {
    font-family: 'Poppins', sans-serif;
  }
  &-secondary {
    font-family: 'Inter', sans-serif;
  }
}

.text {
  &-center {
    text-align: center;
  }
}

.bg-panel {
  &-primary {
    background-color: var(--bg-primary);
  }
}

// override naive-ui
.n-notification-container .n-notification {
  background-color: var(--bg-primary) !important;
}